@import "tailwindcss";

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Root Fix */
html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

/* Selection */
::selection {
  background: #9333ea;
  color: white;
}

/* Images */
img {
  user-select: none;
  -webkit-user-drag: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Drag Cursor */
.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing !important;
}

/* Smooth Transitions */
* {
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease,
    color 0.25s ease;
}

/* Better Text Rendering */
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.03em;
}
@keyframes scaleDown {
  0% {
    transform: scale(5);
  }
  100% {
    transform: scale(2);
  }
}

.loader-text {
  animation: scaleDown 3s ease-out;
}